* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #a9a8af;
  color: aliceblue;
}

h1 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.5rem;
}

img {
  width: min-content;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
}
